:root{

  --red:#e52e4d;
  --blue:#5429cc;
  --green:#33cc95;

  --blue-ligth:#6936ff;

  --text-title:#363f5f;
  --text-body:#969cb3;

  
  --backg:#f0f2f5;
  
  --shape:#ffffff;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: #f0f2f5;
  --webkit-font-smoothing: antialiased;
  font: 16px,"Helvetica";

}

